@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 나중에 textarea 따라 라벨 위로 붙도록 하기
textarea 최소 최대 가로 폭 값넣기
.imp_label{
  vertical-align: top;
} */


/* 
타이틀 배경색 C0601A1
컨텐츠 바깥 배경색 00005C
컨텐츠 안쪽 배경색 F0CAA3
컨텐츠 입력 배경색 D4A87F
취소버튼 C2C2C2
수락버튼 FFDA56
*/



a{
  text-decoration: none;
}