  @font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }
  @font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
*{
    padding:0;
    margin:0 auto;
    text-align: center;
  }
  body
  {
    background-color: #432C7A;
  }

  label {
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 1.3rem;
  }

  input {
    font-family: 'NEXON Lv2 Gothic';
  }

  .header 
  {
    background-color: #C060A1;
    height: 9rem;
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.253);
  }
  .contents_outside{
    display:grid;
    place-items:center;
  }
  .contents_container
  {
    background-color: #F0CAA3;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    position: relative;
    padding: 2rem;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.253);
    display: grid;
    min-height: 32rem;
    grid-template-columns: minmax(51rem, 60rem);
    justify-content: center;
  }
  
  .submit_button
  {
    text-align:center;
  }
  
  a
  {
    text-decoration: none;
  }
  
  input
  {
    background-color: rgb(206, 172, 140);
    font-family: 'NEXON Lv2 Gothic';
  }


  .submit_button
  {
    text-align:center;
  }
  
  a
  {
    text-decoration: none;
  }
  
  input
  {
    background-color: rgba(212, 168, 127, 0.5);
    outline: 0;
  }
input:focus{
  background-color: #EBC7E6;
}


 .list_title_1 
 {
    width: 25rem;
    height: 3.5rem;
    font-size:1rem;
    border-radius: 0.5rem;
 }

 .list_detail_1 
 {
  width: 25rem;
  height: 8.5rem;
  font-size:1rem;
  border-radius: 0.5rem;
 }

 input[type=datetime-local]{
  width: 15.5rem;
  height:1.2rem;
  font-size: 1rem;
  background-color:rgba(212, 168, 127, 0.5);
  font-family: 'NEXON Lv2 Gothic';
  color: black;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  border:2px solid black;
}
::-webkit-calendar-picker-indicator{
  background-color: #A084DC;
  padding:5px;
  cursor:pointer;
  border-radius:3px;
  border:2px solid black;
}
.start_date_dir{
  margin-right:5rem;
}

.end_date_dir{
  /* margin-right:5rem; */
}

.contents_imp{
  text-align: left;
  margin-left: 2.5rem;
}

.submit_button 
{
  text-align:center;
  margin-top: 2rem;
  position: relative;
}

.delete_1 
{
  /* width: 90px;
  height: 50px;
  border-radius: 20%;
  background-color: rgb(194, 47, 47);
  font-weight: 900;
  border-style: solid; */
  width:85px;
  height:40px;
  box-shadow: 2px 2px 2px #3f3f3f;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'NEXON Lv2 Gothic';
  background-color: #EB455F;
  position:absolute;
  top:0;
  left: 100px;
}


.cancel_1 
{
  /* height: 50px;
  width: 90px;
  border-radius: 20%;
  background-color: rgb(161, 158, 158);
  font-weight: 900;
  border-style: solid; */
  width:85px;
  height:40px;
  box-shadow: 2px 2px 2px #3f3f3f;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'NEXON Lv2 Gothic';
  background-color: #C2C2C2;
}

.edit_1 
{
  /* width: 90px;
  border-radius: 20%;
  background-color: rgb(182, 182, 56);
  font-weight: 900;
  border-style: solid; */
  width:85px;
  height:40px;
  box-shadow: 2px 2px 2px #3f3f3f;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'NEXON Lv2 Gothic';
  background-color: #FFDA56;
}


/* @media (max-width: 1450px) 
{

  *
  {
  text-align: center;
  }
  .header {
  height: 7rem;
  margin-bottom: 1.5rem;
  }
  
  .contents_container 
  {
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  min-width: auto;
  min-height: auto;
  }
  
  .list_title_1 
  {
  height: 50%;
  width: 90%;
  margin: 1 auto;
  }
  
  .list_detail_1 
  {
  height: 100%;
  width: 90%;
  margin: 10 auto;
  }
  
  .start_date_dir 
  {
  position: static;
  left: auto;
  margin: 10 auto;
  padding: 20 auto;
  }
  
  .end_date_dir 
  {
  position: static;
  right: auto;
  margin: 10 auto;
  padding: 20 auto;
  }
  
  .start_1,
  .end_1 
  {
  width: 50%;
  height: 30%;
  margin: 10 auto;
  }
  
  .contents_imp 
  {
  position: static;
  right: auto;
  }
  
  .submit_button 
  {
  position: static;
  top: auto;
  }
  
  .delete_1,
  .cancel_1,
  .edit_1 
  {
  position: static;
  width: 30%;
  height: auto;
  margin: 0 auto;
  top: auto;
  right: auto;
  }
  } */
 
