@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }
  @font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  
*{
    padding:0;
    margin:0;
    text-align: center;
  }
  body{
    background-color: #432C7A;
  }
  
  .header {
    background-color: #C060A1;
    height: 9rem;
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.253);
  }
  
  .contents_container{
    background-color: #F0CAA3;
    border: 3px solid black;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    position: relative;
    padding: 2rem;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.253);
    display: grid;
    min-width: 30rem;
    min-height: 35rem;
  }

  .submit_button{
    text-align:center;
  }
  
  a{
    text-decoration: none;
  }
  
  input{
    background-color: beige;
  }
  textarea{
    background-color: beige;
  }
  input:focus{
    background-color: beige;
  }
  textarea:focus{
    background-color: beige;
  }
  
  
  .submit_button{
    text-align:center;
  }
  
  a{
    text-decoration: none;
  }
  
  input{
    background-color: beige;
  }
  textarea{
    background-color: beige;
  }
  input:focus{
    background-color: beige;
  }
  textarea:focus{
    background-color: beige;
  }

 .list_title_1 {
    height: 70px;
    width: 1600px;
 }